# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [1]:
import numpy as np
import seaborn as sns
import pandas as pd

In [13]:
demo1 = pd.read_csv('bab5cf18f9.csv')
print(demo1.shape)
demo1 = demo1.drop_duplicates() #removendo linhas duplicadas
demo1.reset_index(drop=True, inplace=True) #resetando o index
print(demo1.shape)

(16650, 16)
(6770, 16)

In [14]:
demo1.info() #informações das variaveis

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6770 entries, 0 to 6769
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   6770 non-null   object
 1   posse_de_veiculo       6770 non-null   object
 2   posse_de_imovel        6770 non-null   object
 3   qtd_filhos             6770 non-null   int64
 4   tipo_renda             6770 non-null   object
 5   educacao               6770 non-null   object
 6   estado_civil           6770 non-null   object
 7   tipo_residencia        6770 non-null   object
 8   idade                  6770 non-null   float64
 9   tempo_emprego          6770 non-null   float64
 10  possui_celular         6770 non-null   int64
 11  possui_fone_comercial  6770 non-null   int64
 12  possui_fone            6770 non-null   int64
 13  possui_email           6770 non-null   int64
 14  qt_pessoas_residencia  6770 non-null   float64
 15  mau                    6770 non-null   bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 800.1+ KB

In [15]:
demo1.dtypes #tipo de dados de cada variavel

sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [17]:
demo1.isna().sum() #quantidade de missing

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [18]:
demo1['mau'].value_counts() #distribuiçao da variavel mau

False    6472
True      298
Name: mau, dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [40]:
#2.1   Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
df_variaveis = pd.DataFrame(demo1.dtypes, columns=['tipo'])
df_variaveis.reset_index(level=0, inplace=True)
df_variaveis.rename(columns={'index':'variavel'}, inplace = True)
df_variaveis.head(2)

           variavel    tipo
0              sexo  object
1  posse_de_veiculo  object

In [51]:
#2.2  Adicione uma coluna nesse dataframe chamada "qtd_categorias" e coloque nela o número de categorias correspondente 
#     de cada variável.  
lt = []
for i in df_variaveis['variavel']:
    lt.append(len(demo1[i].unique()))

df_variaveis['qtd_categorias']=lt

df_variaveis

                 variavel     tipo  qtd_categorias
0                    sexo   object               2
1        posse_de_veiculo   object               2
2         posse_de_imovel   object               2
3              qtd_filhos    int64               8
4              tipo_renda   object               5
5                educacao   object               5
6            estado_civil   object               5
7         tipo_residencia   object               6
8                   idade  float64            5298
9           tempo_emprego  float64            3005
10         possui_celular    int64               1
11  possui_fone_comercial    int64               2
12            possui_fone    int64               2
13           possui_email    int64               2
14  qt_pessoas_residencia  float64               9
15                    mau     bool               2

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [75]:
demo1_encoded = demo1.copy()

In [76]:
demo1_encoded = pd.get_dummies(demo1, columns=['tipo_renda','educacao','estado_civil','tipo_residencia'], drop_first=True)
#demo1_encoded.info()

In [77]:
demo1_encoded.sexo = demo1_encoded.sexo.map({'F': 1, 'M':0})

In [78]:
demo1_encoded['sexo'].unique()

array([0, 1], dtype=int64)

In [86]:
demo1_encoded.posse_de_veiculo = demo1_encoded.posse_de_veiculo.map({'Y': 1, 'N':0})
demo1_encoded.posse_de_imovel = demo1_encoded.posse_de_imovel.map({'Y': 1, 'N':0})

In [87]:
demo1_encoded['posse_de_veiculo'].unique()

array([1, 0], dtype=int64)

In [88]:
demo1_encoded['posse_de_imovel'].unique()

array([1, 0], dtype=int64)

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [139]:
tab = pd.crosstab(demo1_encoded['possui_email'], demo1_encoded['posse_de_veiculo'], values=demo1_encoded['mau'], aggfunc=sum)
print(tab)
#   Parece que a variável ['possui_email'] é mais relevante quanto a classificação de mau pagador. 
#   Na base temos 298 registro classificados como 'mau' sendo que desses, 278 não possuem email ou seja 93,28% 

#   Com relação a variável['posse_de_veiculo'] dos 298 registros classificados como 'mau' 190 não possuem veiculo ou seja 63,75%

tab_pctlin = tab.div(298, axis = 0 )
print(f'\n\n{tab_pctlin}\n\n')

posse_de_veiculo    0   1
possui_email
0                 182  96
1                   8  12


posse_de_veiculo         0         1
possui_email
0                 0.610738  0.322148
1                 0.026846  0.040268

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [110]:
demo1_encoded.to_csv('demo1_encoded.csv')