# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [4]:
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

# Tarefa 1

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [110]:
sinasc_1 = sinasc_raw[['munResNome','IDADEMAE','IDADEPAI']].groupby('munResNome').mean()
sinasc_1.head()

                          IDADEMAE   IDADEPAI
munResNome
Alta Floresta D'Oeste    25.991826  29.548701
Alto Alegre dos Parecis  24.844156  29.179104
Alto Paraíso             24.960177  28.833333
Alvorada D'Oeste         25.770732  30.757282
Ariquemes                25.607866  32.466667

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [118]:
sinasc_1_2 = sinasc_raw[sinasc_raw['DTNASC'] == '2019-08-12'].groupby('SEXO')['PESO'].mean()
sinasc_1_2

SEXO
Feminino     3068.509434
Masculino    3343.446809
Name: PESO, dtype: float64

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [17]:
#municipio que nasceu menos bebes em 2019

sinasc_3_1 = sinasc_raw[['munResNome','QTDFILVIVO','QTDFILMORT','IDADEMAE','IDADEPAI']]

In [18]:
# municipio que nasceu menos bebes
# Castanheiras                   32
sinasc_3_1.munResNome.value_counts()

Porto Velho                  8437
Ji-Paraná                    2182
Ariquemes                    1729
Vilhena                      1590
Cacoal                       1374
Rolim de Moura                927
Jaru                          881
Guajará-Mirim                 781
Ouro Preto do Oeste           631
Pimenta Bueno                 616
Buritis                       583
Machadinho D'Oeste            500
Espigão D'Oeste               450
Nova Mamoré                   432
Alta Floresta D'Oeste         367
São Miguel do Guaporé         353
Candeias do Jamari            337
Presidente Médici             304
São Francisco do Guaporé      303
Nova Brasilândia D'Oeste      261
Cerejeiras                    237
Costa Marques                 233
Alto Paraíso                  226
Colorado do Oeste             214
Cujubim                       205
Alvorada D'Oeste              205
Monte Negro                   199
Urupá                         170
Seringueiras                  168
Campo Novo de Rondônia        166
Mirante da Serra              164
Chupinguaia                   162
Alto Alegre dos Parecis       154
Corumbiara                    127
Governador Jorge Teixeira     112
Itapuã do Oeste               109
Nova União                    104
Santa Luzia D'Oeste            99
Novo Horizonte do Oeste        98
Theobroma                      97
Vale do Anari                  93
Ministro Andreazza             84
Vale do Paraíso                81
Cabixi                         80
Cacaulândia                    75
Teixeirópolis                  64
São Felipe D'Oeste             54
Rio Crespo                     50
Parecis                        44
Primavera de Rondônia          43
Pimenteiras do Oeste           40
Castanheiras                   32
Município ignorado - RO         1
Name: munResNome, dtype: int64

In [19]:
#- qual a idade media, maxima, minima das maes nesse municipio?
#- qual a idade media, maxima, minima dos pais nesse municipio?

sinasc_3_1_1 = sinasc_3_1[sinasc_3_1['munResNome'] == 'Castanheiras'].groupby('munResNome').aggregate(['mean','median', 'min', 'max'])
sinasc_3_1_1

             QTDFILVIVO                  QTDFILMORT                   \
                   mean median  min  max       mean median  min  max
munResNome
Castanheiras     1.0625    1.0  0.0  6.0    0.09375    0.0  0.0  1.0

              IDADEMAE                  IDADEPAI
                  mean median min max       mean median   min   max
munResNome
Castanheiras  27.28125     27  17  39  30.392857   31.5  17.0  43.0

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [10]:
sinasc_raw.dtypes

ORIGEM          int64
CODESTAB      float64
CODMUNNASC      int64
LOCNASC         int64
IDADEMAE        int64
               ...
munResUf       object
munResLat     float64
munResLon     float64
munResAlt     float64
munResArea    float64
Length: 69, dtype: object

In [11]:
sinasc_4 = sinasc_raw[['munResNome','QTDFILVIVO','IDADEMAE','IDADEPAI','DTNASC']]

In [12]:
sinasc_4.loc[:,'DTNASC']= pd.to_datetime(sinasc_4['DTNASC'])

In [13]:
sinasc_4_1 = sinasc_4.loc[(sinasc_4['DTNASC'] >= '2019-03-01') & (sinasc_4['DTNASC'] <= '2019-03-31')]

In [14]:
# Municiopio que nasceu mais bebes no mês de março 
# Porto Velho                  744
sinasc_4_1.munResNome.value_counts()

Porto Velho                  744
Ji-Paraná                    188
Vilhena                      148
Ariquemes                    141
Cacoal                       133
Jaru                          80
Guajará-Mirim                 75
Rolim de Moura                69
Ouro Preto do Oeste           67
Pimenta Bueno                 62
Buritis                       59
Nova Mamoré                   53
Machadinho D'Oeste            44
Espigão D'Oeste               44
São Miguel do Guaporé         41
Candeias do Jamari            33
Alta Floresta D'Oeste         31
São Francisco do Guaporé      31
Presidente Médici             29
Costa Marques                 24
Alvorada D'Oeste              22
Alto Paraíso                  22
Monte Negro                   20
Nova Brasilândia D'Oeste      20
Colorado do Oeste             19
Seringueiras                  19
Chupinguaia                   18
Cujubim                       17
Cerejeiras                    16
Urupá                         14
Campo Novo de Rondônia        13
Vale do Paraíso               13
Corumbiara                    12
Vale do Anari                 11
Governador Jorge Teixeira     10
Alto Alegre dos Parecis       10
Cacaulândia                   10
Rio Crespo                     9
Mirante da Serra               9
Itapuã do Oeste                8
Theobroma                      8
Santa Luzia D'Oeste            7
Nova União                     7
Pimenteiras do Oeste           6
Parecis                        6
Cabixi                         6
Ministro Andreazza             6
São Felipe D'Oeste             5
Novo Horizonte do Oeste        5
Primavera de Rondônia          5
Castanheiras                   4
Teixeirópolis                  3
Name: munResNome, dtype: int64

In [15]:
sinasc_4_2 = sinasc_4_1[sinasc_4_1['munResNome'] == 'Porto Velho'].groupby('munResNome').aggregate(['mean', 'min', 'max'])
sinasc_4_2

#- qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
#- qual a idade media, maxima, minima dos pais nesse municipio?

            QTDFILVIVO             IDADEMAE           IDADEPAI
                  mean  min  max       mean min max       mean   min   max
munResNome
Porto Velho   1.295056  0.0  9.0  26.596774  14  44  34.629032  19.0  62.0

In [20]:

###CASTANHEIRAS 32 nascimentos em 2019
sinasc_3_1_1 = sinasc_3_1[sinasc_3_1['munResNome'] == 'Castanheiras'].groupby('munResNome').aggregate(['mean','median', 'min', 'max','count'])
print(f'Castanheiras \n\n {sinasc_3_1_1}\n\n')

# Porto Velho 8437
sinasc_4_pv = sinasc_4[sinasc_4['munResNome'] == 'Porto Velho'].groupby('munResNome').aggregate(['mean','median', 'min', 'max','count'])
print(f'Porto Velho \n\n {sinasc_4_pv}\n\n')

Castanheiras

              QTDFILVIVO                        QTDFILMORT                   \
                   mean median  min  max count       mean median  min  max
munResNome
Castanheiras     1.0625    1.0  0.0  6.0    32    0.09375    0.0  0.0  1.0

                    IDADEMAE                        IDADEPAI               \
             count      mean median min max count       mean median   min
munResNome
Castanheiras    32  27.28125     27  17  39    32  30.392857   31.5  17.0


               max count
munResNome
Castanheiras  43.0    28


Porto Velho

             QTDFILVIVO                          IDADEMAE                       \
                  mean median  min   max count      mean median min max count
munResNome
Porto Velho   1.167236    1.0  0.0  12.0  7319  26.31267     26  12  47  8437

              IDADEPAI
                  mean median   min   max count
munResNome
Porto Velho  32.352679   32.0  16.0  65.0   672

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados. Algo que você julgue relevante e novo pra você.

Exemplo:
- Ah, descobri que a idade mediana das mulheres que deram a luz no ano de 2019 dos municipios x é maior que y.

## Insight 
#### Comparando os municipio com menor quantidade de nascimentos (Castanheiras 3.575 hab - censo 2010) e o municipio com a maior quantidade de nascimentos (Porto Velho 428.527 hab  - censo 2010) podemos identificar que:
- 8437/428.527 = 0,019 nascimentos/habitantes ou 19,68 nacimentos/1.000 habitantes.
- 32/3.575 = 0,089 nascimentos/habitantes ou 8,95 nascimentos/1.000 habitantes

##### A quantidade de nascimentos por 1.000 habitantes:
    - Castanheiras é de 8,95 nascimentos/1.000 hab e idh 0,658
    - Porto Velho de 19,68 nascimentos/1.000 hab e idh 0,736
###### Levantamos a hipótese de que por Porto velho ter um IDH** (índice de desenvolvimento humano) maior, tem uma quantidade maior de nascimentos.
** Considerando que o cálculo do IDH representa uma média dos três critérios analisados: renda, educação e saúde, todos com o mesmo peso.